<div class="header">
	<h1><%= @user.full_name %><h1>
</div>

<% if @statuses %>
	<% @statuses.each do |status| %>
	<div class="well">
		<%= status.content %><br />
		<%= link_to time_ago_in_words(status.created_at) + " ago", status %> |
		<%= link_to 'Edit', edit_status_path(status) %> |
		<%= link_to 'Delete', status, method: :delete, data: { confirm: 'You sure?' } %>
	</div>
	<% end %>
<% else %>
    <div>
    	<p>You better start posting some statuses!</p>
    </div>
<% end %>

