<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Name:</strong>
  <%= @status.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<% if @status.user == current_user %>
  <%= link_to 'Edit', edit_status_path(@status) %> |
<% end %>

<%= link_to 'Frontpage', statuses_path %> | 
<%= link_to @status.user.full_name + "\'s Profile", user_profile_path(@status.user.profile_name) %>