<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Name:</strong>
  <%= @status.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Frontpage', statuses_path %> |
<%= link_to 'My Profile', user_profile_path(current_user.profile_name) %>
